<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>AGENCIJA PANCIC</title>
    <%= stylesheet_link_tag 'main' %>
    <%= javascript_include_tag :defaults %>
    <%= yield :head %>
  </head>
  <body>
  
    <div id="container">
      <div id="header">
     <% @hbanners = Hbanner.find_by_sql("SELECT * from hbanners ORDER BY RAND() LIMIT 1") %>
	 <%if @hbanners[0].link!='' %>
		<%=link_to(image_tag(@hbanners[0].himage.url, :border => 0, :height => '80'), @hbanners[0].link)%>
	 <% else %>
		<%= image_tag(@hbanners[0].himage.url, :border => 0, :height => '80') %>
	 <% end %>
      </div>
      <div id="sidemenu">
	  <%= render :partial => 'layouts/search' %>
        <%= render :partial => 'layouts/menu' %>
      </div>
      <div id="content">
	  <br /><br />
        <% if flash[:notice] -%>
          <div id="notice"><%= flash[:notice] %></div>
        <% end -%>
        <% if flash[:error] -%>
          <div id="error"><%= flash[:error] %></div>
        <% end -%>
        <%= yield %>
      </div>
    </div>
  </body>
</html>